melting_schemas @ git+ssh://git@github.com/TeiaLabs/melting-face.git@master#subdirectory=schemas
tauth[teia] @ git+ssh://git@github.com/TeiaLabs/melting-face.git@master#subdirectory=tauth
http_error_schemas @ git+ssh://git@github.com/TeiaLabs/http-error-schemas.git@master